/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header {
  text-align: right;
}

h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    color: rgb(152,173,166);
    font-size: 5em;
    font-weight: bold;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
}

img#featured {
  margin: auto;
  border: 5px solid rgb(156, 172, 167);
}

img.press {
  border: 5px solid rgb(204, 204, 204);
}
#copyright{
  font-size: 0.8em;
  text-align: right;
}